@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


*{
    margin-left:0;
    margin-right: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-variation-settings:
    "slnt" 0;
  background: rgb(0, 0, 0);
    
}

.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    width: 100%;
    height: 44.6rem;
    
    
}

.navigation{
    width:70%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.navigation ul a{
    text-decoration: none;
    color: ;
}
.navigation ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    padding: 4px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.navigation ul li{
    
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    
}
.Name{
    font-size: 2.3rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.selected{
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 0.5rem;
}

/* header section */

.header-section{
    width: 70%;
    display:flex;
    margin:0 auto;

}
.header-title{
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%; 
    color: rgb(255, 255, 255);
    
    
}
.header-title span{  
    font-family: 'Miama', sans-serif;
    font-size: 5rem;
    font-weight: 400;
       
}
.header-content{
    width:50%;
}
.header-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.head-image{
    margin-left: 10rem;   
}
.first-btn{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 18px;
   font-weight: 600;
}
.second-btn{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color: black;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
.bg{
   background-color: hsla(0,0%,47%,0);
}
.circle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color:rgb(230, 83, 60);;
}
.info-1{
    width: 206px;
    height: 96px;
    display:flex; 
    background: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    margin-top: -150px;
    margin-left: -100px;
    border-radius: 12px;
    gap: 0.5rem;

}
.info-2{
    width: 193px;
    height: 98px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-top: -420px;
    margin-left: 200px; 
    text-align: center;
    
    border-radius: 12px;
}

.free-num{
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;  
    padding-top: 0.4rem; 
}
.free-name{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

/* main section */

/* main{
    width:65.25rem;
    height: 28.18rem;
    margin: 0 auto;
    margin-top: 6rem;
    
} */

/* change habit section */
.habit, .run, .bmi-content,.trainer-container{
    width:65.25rem;
    height: 28.18rem;
    margin: 0 auto;
    margin-top: 6rem;
}
.habit-content{
    width:42rem;
    height: 7.5rem;
    margin: 0 auto;
    text-align: center;
}
.habit-title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin: 1rem;
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
   font-weight: 400;
     line-height: 24px;
}
.habit-cards{
    display: flex;
    margin-top: 3.5rem;
    text-align: center;
}
.habit-cards img{
    border-radius: 50%;
}

/* run section */
.run{
    height: 371px;
    border-radius: 18px;
    margin-top: 6rem;
    background: rgb(34, 34, 34);
    display:flex;
    justify-content: space-between;
}
.run-content{
    width: 50%;
    padding: 2rem;
}
.run-title{
    font-size: 48px;
    font-weight: 900;
    margin: 1rem;
}
.run-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding: 1rem;
}
.run-btn{
    width: 14rem;
    height: 3.37rem;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border:none;
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin-left:1rem ;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.run-image{
    margin-right: 2rem;
    
}
.run-image img{
    width:22.87rem;
    height:20rem;
    margin-top: 1.8rem;
    border-radius: 18px;
background: url(4);
}

/* bmi section */
.bmi-about{
    width:41.93rem;
    height:7.43rem;
    margin:0 auto;
}
.bmi-title{
    font-size: 48px;
    font-weight: 900;
    margin:1rem;
    margin-top: 4rem;
}
.bmi-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding: 1rem;
}
.bmi-calc{
    margin-top: 5rem;
    width:100%;
    height:30.43rem;
    background-color:rgb(34, 34, 34);
    /* padding-top: 0.5rem; */   
}

td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding:0.5rem 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding:0.5rem 1rem;
    text-align: start; 
}
.bmi-chart{
    width: 50%;
    
}
.chart-name{
    font-size: 28px;
    font-weight: 900;
    margin-bottom:1rem;
    
}
.bmi-table{
    margin-top: 5rem;
    border-collapse: collapse;
    width:19.37rem;
    height:13.5rem;
}
.bmi-content{
    display:flex;
    gap:10rem;
    padding: 1rem;
}
.chart-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.inputForm form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0.5rem;
    margin-top: 2.5rem;

}
.inputForm input,select{
    width:17.62rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}
.inputForm select{
    padding-right: 1rem;
}
.calc-btn{
    width: 14rem;
    height: 3.37rem;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border:none;
    margin-top: 2.5rem;
}

/* team section */
.team-about{
    width: 42rem;
    height: 7.5rem;
    margin: 6rem auto;
    text-align: center;
}
.team-title{
    font-size: 48px;
    font-weight: 900;
    margin:1rem;
}
.team-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.trainer-container{
    width: 65rem;
    height: 36rem;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1rem;
    padding: 2rem;
}
.image-container{
    position: relative;
    

}
.trainer-container img{
    width: 20.375rem;
    height: 17rem;
    border-radius: 18px;
    filter:brightness(65%);
    
}
.trainer-info{
    position: absolute;
    top: 70%;
    left: 5%;
    /* transform: translate(-145%, 50%); */
    text-align: start;
    
}
.image-container h5{
    margin:0;
    font-size: 18px;
    font-weight: 600;
}
.image-container p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}

/* footer section */
footer{
    margin-top: 6rem;
    height: 30.56rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;
    
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.left{
    width: 50%;
    margin-left: 10rem; 
}
.right{
    width: 50%;
    display: flex;
    justify-content:start;
    align-items: center; 
    gap: 5rem;
    
}
.footer-title{
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
}
.footer-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.right p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
}
.right h3{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}
.copyright {
   width: 66.25rem;
   margin: 0 auto;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
   font-size: 20px;
   font-weight: 400;
}
.copyright hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    
}




  
  
  
